<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>


</head>
<style>
	.parent {
		background-color: white;
		width: 500px;
		height: 1000px;
		padding-left: 70px;
		padding-right: 20px;
		align:center

		margin-left: 50px;
		margin-right: 200px;
		margin-bottom: 200px;
		margin-top: 2px;
		
	}
	#bookingform input:invalid{
            border-color: red;
        }
</style>
{{!-- <link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.min.css"> --}}

<body>
	<a href="/userIndex"  class="btn btn-info "  style="color: rgb(13, 38, 118);margin-top:25px;">Back</a>
	<!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2f087d;">
		<a class="navbar-brand" href="index.html">
			<h2 style="color:white">back to home</h2>
		</a>
	</nav> -->
	<!-- Booking -->
	<div>
	
    <h1 style="color:rgb(21, 21, 96);text-align: center;">BOOKING FORM</h1>
	</div>
	
	<img src="../static/images/cab3.jpg" style="float:right;background-size: cover; margin-top: 80px;height:500px; width:500px;" alt="">
	
	
	<div class="parent">
		<div class="row">
			<div>
				<h2 style="color:black">Personal Details</h2>
				<div>
					<form name="bookingform" method="POST"
						cellspacing="6" cellpadding="2" style="align:center">
						<div>
							<div>
								<div class="form-outline mb-3">
								<input type="text" name="Name" class="form-control form-control-lg" placeholder="Full Name" id="fullName" value="{{data.dataValues.fullName}}"
									required="">
							</div>
							<div>
								<input type="text" class="form-control form-control-lg"  title="Enter 10 digit mobile number"placeholder="Phone number" id="phone" name="phone" 
									 required="" value="{{data.dataValues.phone}}"><br>
									 {{!-- pattern="[1-9]{1}[0-9]{9}" --}}
								
							</div>
						</div>
						<div class="row ">
							<div>
								<input type="email" name="email" class="form-control form-control-lg"placeholder="Email" id="Email" required=""value="{{data.dataValues.email}}">
							</div>

						</div>
						<h2 style="color:black;">Booking Details</h2>
						<div>
							<div>
								<select id="cab" name="cabtype" class="form-control form-control-lg" onchange="change_cab(this.value)" class="frm-field" required="">
									<option value="">Select Cab</option>
									<option value="Mini">Mini</option>
									<option value="sedan">Sedan</option>
									<option value="elite">Elite</option>
								</select><br>
							</div>
						</div>
						<div>
							<div>
								<input id="date" name="bdate" type="date"class="form-control form-control-lg" placeholder="Pick-up Date" value="date"
									onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'dd-mm-yyyy';}" required=""><br>
							</div>
							
							<div>
								<input type="time" id="time" name="btime" class="form-control form-control-lg" class="timepicker form-control"
									placeholder="Pick-up Time" value="" required=""> 
									<select> 
									<option>AM</option>
									<option>PM</option>
									</select>
									<br><br>
							</div>
						</div>
						<div>
							<div>
								<input type="text" name="pLocation" class="form-control form-control-lg" placeholder="Pick-up Location" id="plocation"
									required=""><br>
							</div>
							<div>
								<input type="text" name="dLocation" class="form-control form-control-lg"placeholder="Drop-off Location" id="dlocation"
									required=""><br>
							</div>
						</div>

						<div>
							<div>
								<select id="passengers" name="passnum"class="form-control form-control-lg"onchange="change_country(this.value)"
									class="frm-field" required="">
									<option value="">No.of Passengers</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select><br>
							</div>
							<div>
								<select id="direction" name="direction" class="btn btn-light btn-lg"onchange="change_country(this.value)" class="frm-field" required="">
									<option value="">Direction</option>
									<option value="one way">One Way</option>
									<option value="return">Return</option>
								</select><br><br>
							</div>
							<div>
								<input type="submit" class="btn btn-light btn-lg"" id="submit">
								<input type="reset" class="btn btn-light btn-lg" value="Reset">

					</form>
				</div>
			</div>
			<div class="col-lg-6 mt-md-5">
				<img src="images/car1.png" alt="" class="img-fluid" />
				<img src="images/car2.png" alt="" class="img-fluid" />
			</div>
		</div>
	</div>

	<!-- //Booking -->
	<script>
		function saveData() {

			//var firstName = document.forms[bookingform]['fullName'].value;
			//var phone = document.forms[bookingform]['phone'];
			//var email = document.forms[bookingform]['email'].value;
			//var cab = document.forms[bookingform]["cab"].value;
            //var date = document.forms[bookingform]["date"].value;
			//var time = document.forms[bookingform]["timepicker"].value;
			//var plocation = document.forms[bookingform]["plocation"].value;
            //var dlocation = document.forms[bookingform]["dlocation"].value;	
			//var passengers = document.forms[bookingform]["passengers"].value;	
			//var direction = document.forms[bookingform]["direction"].value;	

			// localStorage.setItem("fullName", fullName);
			// localStorage.setItem("phone", phone);
			// localStorage.setItem("email", email);
			// localStorage.setItem("cab",cab);
			// localStorage.setItem("date",date);
			// localStorage.setItem("time",time);
			// localStorage.setItem("plocation",plocation);
			// localStorage.setItem("dlocation",dlocation);
			// localStorage.setItem("passenger",passenger);
			// localStorage.setItem("direction",direction);



		}

		function validate(e){
            e.preventDefault();
         


		// function validate() {
		// 	var num = document.bookingform.phone.value;
		// 	var email=document.bookingform.phone.value;
		
        
		
       
			// if (isNaN(num)) {

			// 	return false;
			// }
			// else {
			// 	return true;
			// }
			// if (document.bookingform.cab.selectedIndex == "") {
			// 	alert("Please select cab type!");
			// 	return false;
			// }
		}
			//get the selected option
			// var selectedText = sel.options[sel.selectedIndex].text;
			// alert("You have selected : " + selectedText);
			// return true;
		
		document.querySelectorAll('#bookingform input').forEach(e=>{
            e.addEventListener('keyup', function(event){
                var isValid = true;
                if(!email.validity.valid){
                    isValid = false;
                }
				


              

                if(!isValid){
                    btn.setAttribute('disabled', true)
                }
                else{
                    btn.removeAttribute('disabled');
					alert ("saved successfully");
                     window.location = "index.html";
                }
            })
        });
	       
	
		




	</script>
</body>

</html>